body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 15px;
    background: #3498db;
    color: white;
    border: none;
}
